
<section class="wrapper">
    <form>
        <div class="login-form">
        <h1 align="center">Sign in</h1>
            <div class="form-fields">
                <div class="form-input">
                    
                    <mat-form-field>
                        <mat-label>email</mat-label>
                        <input matInput type="email" placeholder="Enter email" required>
                    </mat-form-field>
                </div> 
                <div class="form-input"> 
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Enter Password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                    </mat-form-field>
                </div>
                <div class="form-button">
                    <a href=""><strong>forgot password?</strong></a>
                    <button mat-raised-button color="primary" type="submit" routerLink="/home">Sign in</button>
                    
                </div>    
            </div>
        </div> 
    </form>
</section>
